
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster"> 
  </head>
  <body>
  
  <div class="header">
    
    <div class="header-right">
      <a routerLink="/signup" routerLinkActive="active">ADMIN</a>
      <a routerLink="/login" routerLinkActive="active">LOG OUT</a>
      

      
      
    </div>
  </div>
  
 
  <div class="sidenav">
    <b>Add members</b>
    <a routerLink="/profile1" routerLinkActive="active"><img src="assets/img/taxi-driver.png" id="icon" alt="User Icon" />Driver</a>
    <a routerLink="/profile2" routerLinkActive="active"><img src="assets/img/policeman.png" id="icon" alt="User Icon" />Police</a>
    <a routerLink="/profile" routerLinkActive="active"><img src="assets/img/insurance.png" id="icon" alt="User Icon" />Insurance</a>
    <b>send message</b>
    <a routerLink="/message" routerLinkActive="active"><img src="assets/img/envelope.png" id="icon" alt="User Icon" /> Message</a>
  </div>
  
  
  
  </body>
  </html>
  



